@charset "UTF-8";
/*初期設定*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, figcaption, figure,
footer, header, hgroup, menu, nav, section,
time, mark, audio, video {
margin:0;
padding:0;
border:0;
outline:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}
img{
vertical-align: top;
margin:0;
padding:0;
height: auto;
}
a {
text-decoration: none;
color: inherit;
}
a:hover {
opacity: 0.6 ;
}
li{
list-style: none;
}
body{
font-family: "Noto Sans JP", serif;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
}

/*共通*/
p{
font-size: .9rem;
color: #333;
}
h1{
font-weight: 400;
}
h2{
color: #fa7da3;
font-size: 2.8rem;
text-align: center;
padding-bottom: 30px;
}
h3{
color: #fff;
background-color: #fa7da3;
font-size: 2.0rem;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
padding: 0;
font-weight: 400;
text-align: center;
padding: 15px 0;
}
.l-inner{
max-width: 1000px;
margin: 0 auto;
}
.btn--radius{
border-radius: 100vh;
}
.btn--pink{
color: #fff;
background-color: #fa7da3;
}
.btn--green{
color: #fff;
background-color: #49c43d;
}
.btn--green02{
color: #fff;
background-color: #40e02f;
}
.btn--green02:hover{
color: #fff;
background-color: #49c43d;
}
.small{
font-size: 70%;
}
.large{
font-size: 200%;
}
.pink{
filter: brightness(0) saturate(100%) invert(70%) sepia(7%) saturate(7227%) hue-rotate(299deg) brightness(103%) contrast(96%);
width: 100px;
}

/*ヘッダー*/
.l-header{
position: fixed;
top: 0; 
left: 0; 
width: 100%; 
background-color: #fff;  
z-index: 1;
}
.l-header .header_nav{
display: flex;
justify-content: space-between;
padding: 20px 5px;
}
.l-header ul{
display: flex;
gap:30px;
}
.l-header li a{
font-size: 1.4rem;
}
.l-header .btn {
padding: 10px 40px 10px 30px;
position: relative;
display: block;
}
.fas--right {
content: '';
position: absolute;
top: 0;
bottom: 0;
right: 20px;
width: 9px;
height: 9px;
margin: auto;
border-top: 2px solid #fff;
border-right: 2px solid #fff;
transform: rotate(45deg);
box-sizing: border-box;
}

/*メインビジュアル*/
.l-main{
width: 100%;
overflow: auto;
padding-top: 94px;
}
#section01 .l-container{
background-color: #fa7da3;
}
#section01 .mainvisual{
background-image: url(../image/mainvisual_pc.png);
height: 612px;
background-repeat: no-repeat;
background-position: top;
background-size: cover;
max-width: 1200px;
margin: 0 auto;
}

/*section02*/
#section02 .l-inner{
padding: 40px 0 30px;
}
#section02 .l-container{
background-color: #fffedd;
}
#section02 .heading {
font-size: 2.3rem;
color: #fa7da3;
display: flex;
align-items: center;
justify-content: center;
}
#section02 .heading::before,
#section02 .heading::after {
height: 3.0rem;
content: '';
margin-top: 5px;
}
#section02 .heading::before {
border-left: solid 3px;
transform: rotate(-30deg);
margin-right: 18px; 
}
#section02 .heading::after {
border-right: solid 3px;
transform: rotate(30deg);
margin-left: 10px; 
}
#section02 p{
text-align: center;
padding-top: 5px;
}
#section02 .text--white{
color: #fff;
background-color: #fa7da3;
font-size: 2.2rem;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
padding: 0;
}
#section02 .text--pink{
color: #fa7da3;
background-color: #fff;
font-size: 3.6rem;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
border: 1px solid #fa7da3;
padding: 10px 0;
}
#section02 .__block-01{
max-width: 550px;
padding: 10px;
margin: 0 auto;
}

/*section03*/
#section03 .l-inner{
padding: 40px 0 30px;
}
#section03 .heading {
font-size: 2.3rem;
color: #fa7da3;
text-align: center;
font-weight: 600;
padding-bottom: 10px;
}
#section03 .__block-01{
width: 550px;
margin: 0 auto;
}
#section03 .btn{
font-weight: 700;
font-size: 2.3rem;
position: relative;
padding: 10px;
text-align: center;
}
#section03 .fas--right {
right: 50px;
width: 25px;
height: 25px;
border-top: 5px solid #fff;
border-right: 5px solid #fff;
}
#section03 .lead--text {
color: #50bfff;
padding: 0.5em 0;
border-top: solid 3px #50bfff;
border-bottom: solid 3px #50bfff;
text-align: center;
font-size: 1.8rem;
margin: 40px 0 20px;
font-weight: 600;
}
#section03 li{
font-size: 1.4rem;
}

/*section04*/
#section04 .l-inner{
padding: 50px 0 30px;
}
#section04 .l-container{
background-color: #fdf0f5;
}
#section04 .small__title{
font-size: 1.8rem;
text-align: center;
color: #4d2b1b;
}
#section04 .__block-01{
max-width: 780px;
padding: 10px;
margin: 0 auto;
}
#section04 .wrapper,#section04 .warp-01{
background-color: #fff;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
border: 1px solid #fa7da3;
padding: 20px 0;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}
#section04 p{
font-size: 1.4rem;
padding: 0 30px;
}
#section04 .__box{
display: flex;
justify-content: center;
gap: 40px;
padding-top: 20px;
}
#section04 .logo__box-01,#section04 .logo__box-02{
width: 230px;
height: 130px;
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 10px;
}
#section04 .logo__box-01{
border: solid 2px #fa7da3;
}
#section04 .logo__box-02{
border: solid 2px #666;
}
#section04 img{
margin: auto 0;
}
#section04 h4{
text-align: center;
font-weight: 600;
color: #4d2c1c;
font-size: 1.6rem;
padding-top: 20px;
}
#section04 .__box-02{
display: flex;
justify-content: center;
padding-top: 20px;
gap: 10px;
}
#section04 .pink--s{
font-size: .8rem;
color:#fa7da3;
text-align: center;
padding: 0;
}
#section04 .unit{
width: 100px;
}

/*section05*/
#section05 .l-inner{
padding: 40px 0 30px;
}
#section05 .heading {
font-size: 2.3rem;
color: #fa7da3;
text-align: center;
font-weight: 600;
padding-bottom: 10px;
}
#section05 .__block-01{
width: 550px;
margin: 0 auto;
}
#section05 .btn{
font-weight: 700;
font-size: 2.3rem;
position: relative;
padding: 10px;
text-align: center;
}
#section05 .fas--right {
right: 50px;
width: 25px;
height: 25px;
border-top: 5px solid #fff;
border-right: 5px solid #fff;
}
#section05 .small__title{
font-size: 1.4rem;
text-align: center;
color: #4d2b1b;
padding-top: 50px;
}
#section05 .__block-02{
display: flex;
justify-content: center;
gap: 40px;
}
#section05 .__box{
border: 1px solid #fa7da3;
border-radius: 10px;
width: 346px;
}
#section05 h3{
background-color: #fdf0f5;
color: #fa7da3;
}
#section05 p{
font-size: 1.1rem;
padding-bottom: 10px;
}
#section05 .unit{
padding: 15px;
}

/*section06*/
#section06 .l-inner{
padding: 50px 10px;
max-width: 1000px;
}
#section06 .l-container{
background-color: #fdf0f5;
}
#section06 .cource__title{
color: #fff;
background-color: #fa7da3;
font-size: 1.1rem;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
padding: 0;
text-align: center;
padding: 10px 0;
}
#section06 .item{
display: flex;
background-color: #fff;
padding: 20px;
gap: 10px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
border: 1px solid #fa7da3;
}
#section06 .name{
color: #fa7da3;
font-size: 1.1rem;
}
/*スライダー*/
.slick-dots li.slick-active button:before {
color:#fa7da3;
}
.slick-dots li button::before{
font-size: 20px;
line-height: 60px;
color:#ffd2d2;
}
.slick-dots li{
margin: 0 10px;
}
.slick-next, .slick-prev{
display: none !important;
}
.slick-slide {
margin: 0 10px;
}

/*section07*/
#section07 .l-inner{
padding: 40px;
}
#section07 .heading {
font-size: 2.3rem;
color: #fa7da3;
text-align: center;
font-weight: 600;
padding-bottom: 10px;
}
#section07 .__block-01{
width: 550px;
margin: 0 auto;
}
#section07 .btn{
font-weight: 700;
font-size: 2.3rem;
position: relative;
padding: 10px;
text-align: center;
}
#section07 .fas--right {
right: 50px;
width: 25px;
height: 25px;
border-top: 5px solid #fff;
border-right: 5px solid #fff;
}

/*フッター*/
.footer__area{
background-color: #fa7da3;
display: flex;
align-items: center;
justify-content: center;
padding: 20px;
}
.footer__area img{
filter: brightness(0) invert(1);
width: 145px;
}

/*sp
----------------------*/
@media screen and (max-width:767px) {
/*共通*/
p{
font-size: .7rem;
}
h2{
font-size: 2.0rem;
padding-bottom: 15px;
}
h3{
font-size: 1.2rem;
}
.l-inner{
width: auto;
}
.small{
font-size: 70%;
}
.large{
font-size: 200%;
}
.pink{
width: 75px;
}

/*ヘッダー*/
.l-header .header_nav{
padding: 10px;
}
.l-header ul{
gap: 10px;
}
.l-header li a{
font-size: .8rem;
}
.l-header .btn {
padding: 5px 20px 8px 10px;
}
.fas--right {
content: '';
position: absolute;
top: 0;
bottom: 0;
right: 11px;
width: 8px;
height: 8px;
margin: auto;
border-top: 2px solid #fff;
border-right: 2px solid #fff;
transform: rotate(45deg);
box-sizing: border-box;
}
img{
width: 100%;
}

/*メインビジュアル*/
.l-main{
padding-top: 60.86px;
}
#section01 .mainvisual{
background-image: url(../image/mainvisual_sp.png);
height: 300px;
background-size: contain;
max-width: none;
margin: 0 auto;
}

/*section02*/
#section02 .l-inner{
padding: 20px 10px;
}
#section02 .heading {
font-size: 1.6rem;
}
#section02 .heading::before,
#section02 .heading::after {
height: 1.8rem;
content: '';
}
#section02 p{
padding-top: 0;
}
#section02 .text--white{
font-size: 1.6rem;
}
#section02 .text--pink{
font-size: 2.6rem;
padding: 5px 0;
}
#section02 .__block-01{
max-width: 400px;
}

/*section03*/
#section03 .l-inner{
padding: 10px 10px 25px;
}
#section03 .heading {
font-size: 1.6rem;
}
#section03 .__block-01{
width: auto;
max-width: 400px;
padding: 10px;
}
#section03 .btn{
font-size: 1.6rem;
}
#section03 .fas--right {
right: 40px;
width: 18px;
height: 18px;
border-top: 3px solid #fff;
border-right: 3px solid #fff;
}
#section03 .lead--text {
border-top: solid 1px #50bfff;
border-bottom: solid 1px #50bfff;
font-size: 1.4rem;
}
#section03 li{
font-size: .9rem;
}

/*section04*/
#section04 .l-inner{
padding: 30px 10px 20px;
}
#section04 .small__title{
font-size: 1.5rem;
}
#section04 .__block-01{
max-width: 400px;
}
#section04 .wrapper{
padding: 10px 0;
}
#section04 .warp-01{
padding: 10px;
}
#section04 p{
font-size: 1.0rem;
padding: 0 20px;
}
#section04 .__box{
gap: 10px;
padding-top: 10px;
}
#section04 .logo__box-01,#section04 .logo__box-02{
width: 150px;
height: 100px;
margin-bottom: 5px;
}
#section04 .logo__box-01 img{
width: 80px;
}
#section04 .logo__box-02 img{
width: 80px;
}
#section04 .kirakira{
width: 35px;
}
#section04 .__box p{ 
text-align: center;
}
#section04 h4{
font-size: 1.5rem;
padding: 20px 0 10px;
}
#section04 .__box-02{
flex-wrap: wrap;
}

/*section05*/
#section05 .kirakira{
width: 35px;
}
#section05 .l-inner{
padding: 10px 10px 25px;
}
#section05 .heading {
font-size: 1.6rem;
}
#section05 .__block-01{
width: auto;
max-width: 400px;
padding: 10px;
}
#section05 .btn{
font-size: 1.6rem;
}
#section05 .fas--right {
right: 40px;
width: 18px;
height: 18px;
border-top: 3px solid #fff;
border-right: 3px solid #fff;
}
#section05 .small__title {
padding-top: 30px;
}
#section05 .__block-02 {
flex-direction: column;
align-items: center;
}
#section05 .__box {
max-width: 400px;
}
#section05 h3 {
max-width: 400px;
padding: 10px;
}
#section05 p {
font-size: 1.0rem;
padding-bottom: 20px;
}
#section05 .unit {
padding: 20px;
}

/*section06*/
#section06 .l-inner{
padding: 30px 0;
max-width: none;
}
#section06 p{
padding-top: 5px;
font-size: .9rem;
}
/*スライダー*/
.slick-dots li button::before{
font-size: 20px;
line-height: 60px;
}
.slick-dots li{
margin: 0 10px;
}
.slick-slide {
margin: 0 10px;
}
.slick-slide img {
width: 78px;
height: 113px;
}
.slick-dots {
bottom: -15px;
}


#section06 .kirakira{
width: 35px;
}

/*section07*/
#section07 .l-inner{
padding: 10px 10px 25px;
}
#section07 .heading {
font-size: 1.6rem;
}
#section07 .__block-01{
width: auto;
max-width: 400px;
padding: 10px;
}
#section07 .btn{
font-size: 1.6rem;
}
#section07 .fas--right {
right: 40px;
width: 18px;
height: 18px;
border-top: 3px solid #fff;
border-right: 3px solid #fff;
}

.footer__area {
padding: 15px;
}
.footer__area img {
width: 80px;
}
}




/*sp xs
----------------------*/
@media screen and (max-width:390px) {

.l-header ul{
gap: 3px;
}
#section03 li{
font-size: .8rem;
}
#section04 .logo__box-01,#section04 .logo__box-02{
width: 130px;
}
}
