@charset "UTF-8";
/*初期設定*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, figcaption, figure,
footer, header, hgroup, menu, nav, section,
time, mark, audio, video {
margin:0;
padding:0;
border:0;
outline:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}
img{
vertical-align: top;
margin:0;
padding:0;
height: auto;
}
a {
text-decoration: none;
color: inherit;
}
a:hover {
opacity: 0.6 ;
}
li{
list-style: none;
}
body{
font-family: "Noto Sans JP", serif;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
}

/*共通*/
p{
font-size: .9rem;
}
h1{
font-weight: 400;
}
.large__title{
font-family: 'EB Garamond';
font-size: 2.4rem;
font-weight: bold;
}
.small__title{
font-size: 1.5rem;
font-weight: 600;
padding: 5px 0 20px;
}
.l-inner{
max-width: 1200px;
margin: 0 auto;
}
.btn--radius{
border-radius: 100vh;
}
.btn--pink{
color: #fff;
background-color: #fa7da3;
}
.btn--green{
color: #fff;
background-color: #49c43d;
}
.small{
font-size: 80%;
}
.large{
font-size: 200%;
}

/*ヘッダー*/
.l-header{
position: fixed;
top: 0; 
left: 0; 
width: 100%; 
background-color: #fff;  
z-index: 1;
}
.l-header .pink{
filter: brightness(0) saturate(100%) invert(70%) sepia(7%) saturate(7227%) hue-rotate(299deg) brightness(103%) contrast(96%);
}
.l-header .header_nav{
display: flex;
justify-content: space-between;
padding: 20px 5px;
}
.l-header ul{
display: flex;
gap:30px;
}
.l-header li a{
font-size: 1.4rem;
}
.l-header .btn {
padding: 10px 40px 10px 30px;
position: relative;
display: block;
}
.fas--right {
content: '';
position: absolute;
top: 0;
bottom: 0;
right: 20px;
width: 9px;
height: 9px;
margin: auto;
border-top: 2px solid #fff;
border-right: 2px solid #fff;
transform: rotate(45deg);
box-sizing: border-box;
}

/*メインビジュアル*/
.l-main{
width: 100%;
overflow: auto;
padding-top: 94px;
}
#section01 .l-container{
background-color: #fa7da3;
height: 680px;
overflow:hidden;
}
#section01 .__block-01{
position: relative;
display: flex;
}
#section01 .title__text{
font-size: 8.0rem;
color: #fff;
letter-spacing: 0.1em;
position: absolute;
top: 0;
left: 50px;
}
#section01 .title__text--small{
font-size: 2.5rem;
color: #fff;
letter-spacing: 0.1em;
position: absolute;
top: 170px;
left: 380px;
}
#section01 .main__visual{
width: 500px;
margin-top: 130px;
}
#section01 .lead__wrapper-01{
display: flex;
background-color: #fca4bf;
padding: 40px 50px 0;  
}
#section01 .__box-02{
position: absolute;
top: 0;
right: 50px;
}
#section01 .subtitle__text--top{
color: #fa7da3;
background-color: #fff;
padding: 5px;
font-size: 1.8rem;
margin-bottom: 35px;
}
#section01 .subtitle__text--bottom{
color: #fff;
font-size: 2.8rem;
}
#section01 .subtitle__text--right{
color: #fffd7a;
font-size: 5.0rem;
font-weight: 700;
}
#section01 .wrap--left{
padding-right: 3%;
}




